if ARCH_IMX9

config AHAB_BOOT
    bool "Support i.MX9 AHAB features"
    help
    This option enables the support for AHAB secure boot.

config IMX9
	bool
	select HAS_CAAM
	select ROM_UNIFIED_SECTIONS

config IMX93
	bool
	select IMX9
	select ARMV8_SPL_EXCEPTION_VECTORS
	select SYS_FSL_ERRATUM_ESDHC111

config SYS_SOC
	default "imx9"

choice
	prompt  "NXP i.MX9 board select"
	optional

config TARGET_IMX93_14X14_EVK
	bool "imx93_14x14_evk"
	select IMX93

config TARGET_IMX93_11X11_EVK
	bool "imx93_11x11_evk"
	select IMX93

config TARGET_IMX93_9X9_QSB
	bool "imx93_9x9_qsb"
	select IMX93
	select IMX9_LPDDR4X

config TARGET_IMX91P_11X11_EVK
	bool "imx91p_11x11_evk"
	select IMX93

config TARGET_IMX91P_9X9_QSB
	bool "imx91p_9x9_qsb"
	select IMX93
	select IMX9_LPDDR4X

config TARGET_IMX93_ROM2820A1
	bool "Support i.MX93 ROM2820A1"
	select IMX93
	select SUPPORT_SPL
	select IMX93_DRAM
	#select FSL_CAAM
	#select FSL_BLOB
	select ARCH_MISC_INIT
	select SPL_CRYPTO if SPL

config TARGET_IMX93_AFEE320A1
	bool "Support i.MX93 AFEE320A1"
	select IMX93

endchoice

source "board/advantech/imx93_rom2820a1/Kconfig"
source "board/advantech/imx93_afee320a1/Kconfig"
source "board/freescale/imx93_evk/Kconfig"
source "board/freescale/imx93_qsb/Kconfig"

endif

