// SPDX-License-Identifier: GPL-2.0+
//
// Copyright 2012 Freescale Semiconductor, Inc.
// Copyright 2011 Linaro Ltd.

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-advantech.dtsi"

/ {
	model = "i.MX6 Quad ADVANTECH Smart Device Board";
	compatible = "fsl,imx6q-sabresd", "fsl,imx6q";
        aliases {
                mmc0 = &usdhc2;
                mmc1 = &usdhc4;
                mmc2;
                mmc3;
        };

};

&ecspi1 {
	cs-gpios = <&gpio3 19 0>;
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_ecspi1_cs_0: ecspi1_cs_grp-0 {
		fsl,pins = <
			MX6QDL_PAD_EIM_D19__GPIO3_IO19		0x80000000	/* ECSPI1_CS1 */
			>;
		};
};

&uart1 {
	status = "okay";
};

&fec {
	status = "okay";
};

&usdhc2 {
	status = "okay";
};

&usdhc4 {
	status = "okay";
};
