CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6advantech/mx6qrsb3430a1_4x_MT41K128M16JT-125_1410022609-01.cfg,SPL,MX6DL,SYS_USE_SPINOR"
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6RSB3430A1_1G=y
CONFIG_CMD_GPIO=y
