CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6advantech/mx6dlrom5420b1_4x_IM4G16D3FABG-125_1410025137-01.cfg,SPL,MX6DL,SYS_USE_SPINOR"
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6ROM5420B1_2G=y
CONFIG_CMD_GPIO=y
