CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6advantech/mx6qebcgf66_4x_MT41K256M16TW-107_1410026783-01.cfg,SPL,MX6Q,SYS_USE_SPINOR"
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6EBCGF66A1_2G=y
CONFIG_CMD_GPIO=y
