CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6advantech/mx6qrsb3430a1_4x_MT41K128M16JT-125_1410022609-01.cfg,SPL,MX6Q,SYS_USE_SPINOR"
CONFIG_ARM=y
CONFIG_TARGET_MX6RSB3430A1_1G=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y
