CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6advantech/mx6qrom7420_4x_IM4G16D3FABG-125_1410025137-01.cfg,SPL,MX6Q,SYS_USE_SPINOR"
CONFIG_ARM=y
CONFIG_TARGET_MX6ROM7420A1_2G=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y
