CONFIG_SPL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6advantech/mx6solorom5420b1_2x_IM4G16D3FABG-125_1410025137-01.cfg,SPL,MX6SOLO,SYS_USE_SPINOR,SYS_NOSMP=\"nosmp\""
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6ROM5420B1_1G=y
CONFIG_CMD_GPIO=y
