CONFIG_ARM=y
CONFIG_ARCH_MX7=y
CONFIG_TARGET_MX7DEBCRM01A1_2G=y
CONFIG_IMX_RDC=y
CONFIG_IMX_BOOTAUX=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx7dadvantech/imximage_im.cfg"
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
